<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../globalStyle.css" />
    <link type="text/css" rel="stylesheet" href="./Link.css" />
    <title>Refairy</title>
  </head>
  <body>
    <div class="Link blueBg">
      <div class="Link__text">시작하기</div>
      <svg
        class="Link__icon"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.0377 6.34326L13.6268 7.76078L16.8971 11.0158L3.29199 11.0294L3.29401 13.0294L16.8618 13.0158L13.6466 16.246L15.0642 17.6569L20.7078 11.9869L15.0377 6.34326Z"
        />
      </svg>
    </div>
  </body>
</html>
