<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../globalStyle.css" />
    <link type="text/css" rel="stylesheet" href="./SearchHistory.css" />
    <title>Refairy</title>
  </head>
  <body>
    <div class="SearchHistory">
      <div class="SearchHistory__content">
        <div class="SearchHistory__time">17초 전</div>
        <div class="SearchHistory__title">
          쏜애플(THORNAPPLE) - Headphone Enlightenment Session
        </div>
        <div class="SearchHistory__url">
          https://www.youtube.com/watch?v=yqOUH3SpGTA
        </div>
      </div>
      <div class="SearchHistory__circle zero">ZERO</div>
    </div>
  </body>
</html>
