<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../assets/fonts/a.css" />
    <link type="text/css" rel="stylesheet" href="./searchHistory.css" />
    <title>Refairy</title>
  </head>
  <body>
    <div class="searchHistory">
      <div class="searchHistory__content">
        <div class="searchHistory__time">17초 전</div>
        <div class="searchHistory__title">
          쏜애플(THORNAPPLE) - Headphone Enlightenment Session
        </div>
        <div class="searchHistory__url">
          https://www.youtube.com/watch?v=yqOUH3SpGTA
        </div>
      </div>
      <div class="searchHistory__circle zero">ZERO</div>
    </div>
  </body>
</html>
