html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#questionBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
  border: 1px solid #ebebeb;
  border-radius: 24px;
}

#titleWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

#title {
  font-size: 21px;
  font-family: "a15";
}

#cancelBtn {
  cursor: pointer;
}

#question {
  min-width: 420px;

  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;

  text-align: center;
  font-family: "a15";
  font-size: 18px;
  color: #666666;
}

#question > b {
  color: #000;
}

#answerButtons {
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

#answerButtons > div:first-child {
  margin-right: 12px;
}

#answerButtons > div:last-child {
  margin-left: 12px;
}

#idkButton {
  margin-top: 24px;
}

#thanksModal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 60px;
  border: 1px solid #ebebeb;
  border-radius: 24px;
}

#thanksModalTitle {
  font-family: "a15";
  font-size: 24px;
  margin: 24px 0px;
}
