@import url("../../assets/fonts/a.css");

html,
body {
  margin: 0;
}

.ShortcutButton {
  width: fit-content;

  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  color: #fff;
  background-color: #606060;
  border-radius: 12px;
}

.ShortcutButton.blue {
  padding: 15px 33px;
}

.blue {
  background-color: #646ef8;
}

.pink {
  background-color: #ff6c6c;
}

.ShortcutButton__number {
  padding: 2px 5px;

  color: #606060;
  font-size: 15px;
  font-family: "a18";

  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}

.blue > .ShortcutButton__number {
  color: #646ef8;
}

.pink > .ShortcutButton__number {
  color: #ff6c6c;
}

.ShortcutButton__text {
  margin-left: 6px;

  font-size: 18px;
  font-family: "a15";
}
