<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../globalStyle.css" />
    <link type="text/css" rel="stylesheet" href="./ShortcutButton.css" />
    <title>Refairy</title>
  </head>
  <body>
    <div class="ShortcutButton">
      <div class="ShortcutButton__number">1</div>
      <div class="ShortcutButton__text">맞아요</div>
    </div>
  </body>
</html>
