html,
body {
  height: 100%;
  overflow: hidden;
}

#report {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  background-color: #ffffff;
  transition: 600ms cubic-bezier(0,.75,.23,1);
}

#report.full {
  width: 684px;
  height: calc(100% - 72px);
  padding: 36px 48px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}

#report.medium {
  width: 300px;
  padding: 40px;
  position: absolute;
  left: 80px;
  bottom: 80px;
  box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  height: 234px;
  box-sizing: border-box;
}

#report.small {
  width: 181px;
  padding: 20px;
  padding-bottom: 4px;
  position: absolute;
  box-sizing: border-box;
  left: 77px;
  bottom: 0px;
  box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.07);
  border-radius: 18px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#reportSizeControler {
  width: 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;

  background: #f1f1f1;
  opacity: 0.6;
  border-radius: 51px;
}

#reportSizeControler {
  float: right;
}

#makeSmall,
#makeBig {
  padding: 10px 0px;
  cursor: pointer;
}

.unable {
  opacity: 0.3;
  cursor: default !important;
}

#reportResult {
  width: 100%;
}

#reportTitleWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#reportTitle {
  font-family: "a18";
  font-size: 24px;
}

.small #reportTitle {
  margin-top: 3.5px;
  font-size: 18px;
}

#reportID {
  font-family: "a15";
  font-size: 18px;
  opacity: 0.6;

  margin-top: 7px;
  margin-left: 10px;
}

.medium #reportID,
.small #reportID {
  display: none;
}

#reportURL {
  font-family: "a15";
  font-size: 16px;
  opacity: 0.5;
}

.full #reportURL {
  margin-top: 6px;
}

.medium #reportURL {
  margin-top: 12px;
}

.small #reportURL {
  display: none;
}

#reportURL > img {
  width: 18px;
  height: 18px;

  float: left;
  margin-right: 6px;
}

#reportURL > span {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#reportCount {
  font-family: "a15";
  font-size: 18px;
  color: #ef6eac;
}

.full #reportCount {
  margin: 24px 0px;
}

.medium #reportCount {
  margin-top: 12px;
  margin-bottom: 24px;
}

.small #reportCount {
  margin-top: 12px;
  font-size: 15px;
}

#reportCount > img {
  width: 24px;
  height: 24px;

  float: left;
  fill: #ef6eac;

  margin-top: -3px;
  margin-right: 10px;
}

.small #reportCount > img {
  width: 18px;
  height: 18px;
}

#reportButtons {
  width: 100%;
  height: 48px;
  overflow: hidden;
}

.full #reportButtons {
  margin-bottom: 24px;
}

.small #reportButtons {
  display: none;
}

#reportShare {
  float: left;
}

#reportSave {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: "a18";
  font-size: 16px;
  color: #646ef8;
  opacity: 0.7;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  float: right;

  cursor: pointer;
}

#reportSentences {
  width: calc(100% - 40px);
  max-height: 250px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  font-family: "a15";
  font-size: 16px;

  background: #f9f9f9;
  border-radius: 24px;
}

.medium #reportSentences,
.small #reportSentences {
  display: none;
}

.reportSentence {
  margin-bottom: 24px;
}

.reportSentence:last-child {
  margin-bottom: 0px;
}

#reportError {
  color: #ff0000;
  font-size: 16px;
  font-family: "a15";

  margin-top: 24px;
  cursor: pointer;
}

.medium #reportError,
.small #reportError {
  display: none;
}

#reportErrorIcon {
  width: 18px;
  height: 18px;

  float: left;
  margin-right: 6px;
}

.medium #reportHistory,
.small #reportHistory {
  display: none;
}

#reportHistoryTitle {
  font-family: "a18";
  font-size: 24px;
}

#reportHistoryGraph {
  width: 100%;
  height: 250px;

  margin-top: 20px;
}

#view {
  height: 100%;
  float: right;
  background-color: skyblue;
  border: 3px solid rgba(0, 255, 0, 0.8);
  box-sizing: border-box;
  transition: 600ms cubic-bezier(0,.75,.23,1);
}

.full + #view {
  width: calc(100% - 783px);
  /* border-left: 3px solid #ebebeb; */
}

.medium + #view,
.small + #view {
  width: 100%;
}
